<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Авторизация</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  html {
    background: #222;
    color: #fff;
  }
  .container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
  }
</style>
</head>
<body>
  <div class="container">
    <form action='/auth' method='post'>
      <h5>{{message}}</h5>
      <p><input name="login" type="text" placeholder="login" required>
      <p><input name="pass" type="password" placeholder="password" required></p>
      <p><input type='submit'/></p>
    </form>
  </div>
</body>
</html>