<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Админ панель</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<style>
  html {
    background: #222;
    color: #fff;
  }
  .container {
    width: 100%;
    height: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    align-content: center; 
    justify-content: center; 
  }
</style>
</head>
<body>
  <div class="container">
  <div>
      <h5>Привет Админ!!! {{message}}</h5>
      <form action='/logout' method='post'>
        <p><input type='submit' value='Выйти'/></p>
      </form>
      <h6>Редактировать профиль:</h6>
      <form action='/edit' method='post'>
      <p><input name="nwLogin" type="text" placeholder="новый логин" required>
      <p><input name="nwPass" type="password" placeholder="новый пароль" required></p>
      <p><input type='submit'/></p>
    </form>
  </div>
  </div>
</body>

</html>